<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4 destiny-mainDiv">
            <h2>Search Player</h2>
            <form role="form">
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" ng-model="platformRadio" value=1>XBL</label>
                    <label class="radio-inline"><input type="radio" ng-model="platformRadio" value=2>PSN</label>
                </div>
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" ng-model="characterNumber" value=0>0</label>
                    <label class="radio-inline"><input type="radio" ng-model="characterNumber" value=1>1</label>
                    <label class="radio-inline"><input type="radio" ng-model="characterNumber" value=2>2</label>
                </div>
                <div class="form-group">
                    <label for="displayName">Username:</label>
                    <input type="text" ng-model="displayName" class="form-control" id="displayName">
                </div>
                <div class="form-group">
                    <input type="submit" ng-click="VM.searchPlayer(1, displayName)" class="form-control" id="submit">
                </div>
            </form>
            <p>{{message}}</p>
        </div>
    </div>
    <!--<a ui-sref="destinyDetails({displayName: message})">Click Meee</a>-->
</div>

