<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Destiny</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="destiny-details-search-li">
                    <form role="form">
                        <input class="form-control destiny-details-search" type="text" ng-model="searchValue" placeholder="Search Player">
                        <input class="destiny-details-submit" ng-click="VM.searchPlayer(searchValue)" type="submit" value="Search" />
                    </form>
                </li>
                <li ng-class="{active: vm.isActive('/destiny')}"><a href="#/destiny">Search</a></li>
                <li ng-class="{active: vm.isActive('/destiny/details')}"><a>Details</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="page-wrapper">
    <!-- Main Content -->
    <div class="row">
        <span class="col-md-4 col-md-offset-4" style="font-size: 200%; color: red; font-family: Comic Sans MS">{{errorMessage}}</span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="http://www.bungie.net/{{playerSearchData.iconPath}}" />
        </div>
        <div class="col-md-4">
            <label>Display Name: </label> {{playerSearchData.displayName}}
        </div>
        <div class="col-md-4">
            <label>Membership Id: </label> {{playerSearchData.membershipId}}
        </div>
    </div>
    <div class="row">
        <div id="equipment" class="col-sm-4 col-md-4" style="border-style: solid">
            <h4>{{characterData[0].charactersOverview}}</h4>
            <table class="table">
                <tr ng-repeat="item in characterData[0].equipmentData">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="https://www.bungie.net{{item.icon}}" />{{item.itemName}}</a></td>
                    <td>{{item.details.primaryStat}}</td>
                    <td ng-bind-html="item.details.damageType | damageTypeFilter"></td>
                </tr>
            </table>
        </div>
        <div id="equipment" class="col-sm-4 col-md-4" style="border-style: solid">
            <h4>{{characterData[1].charactersOverview}}</h4>
            <table class="table">
                <tr ng-repeat="item in characterData[1].equipmentData">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="https://www.bungie.net{{item.icon}}" />{{item.itemName}}</a></td>
                    <td>{{item.details.primaryStat}}</td>
                    <td ng-bind-html="item.details.damageType | damageTypeFilter"></td>
                </tr>
            </table>
        </div>
        <div id="equipment" class="col-sm-4 col-md-4" style="border-style: solid">
            <h4>{{characterData[2].charactersOverview}}</h4>
            <table class="table">
                <tr ng-repeat="item in characterData[2].equipmentData">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="https://www.bungie.net{{item.icon}}" />{{item.itemName}}</a></td>
                    <td>{{item.details.primaryStat}}</td>
                    <td ng-bind-html="item.details.damageType | damageTypeFilter"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <h4>Year 1 Triumphs</h4>
        <table>
            <tr>
                <th>Title</th>
                <th>Complete</th>
            </tr>
            <tr ng-repeat="triumph in triumphs | limitTo: 7 | limitTo: -3">
                <td>{{triumph.title}}</td>
                <td>{{triumph.complete}}</td>
            </tr>
            <tr>
                <td>{{triumphs[9].title}}</td>
                <td>{{triumphs[9].complete}}</td>
            </tr>
        </table>
    </div>
</div>
