<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Destiny</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="destiny-details-search-li">
                    <form role="form">
                        <input class="form-control destiny-details-search" type="text" ng-model="searchValue" placeholder="Search Player">
                        <input class="destiny-details-submit" ng-click="VM.searchPlayer(searchValue)" type="submit" value="Search" />
                    </form>
                </li>
                <li ng-class="{active: vm.isActive('/destiny')}"><a href="#/destiny">Search</a></li>
                <li ng-class="{active: vm.isActive('/destiny/details')}"><a>Details</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="page-wrapper">
    <!--<a ui-sref="destinyPlayer({platform: platform, displayName: displayName, characterNumber: 1})">{{characterData.charactersOverview[0].level}} {{characterData.charactersOverview[0].className}}</a>
        <a ui-sref="destinyPlayer({platform: platform, displayName: displayName, characterNumber: 2})">{{characterData.charactersOverview[1].level}} {{characterData.charactersOverview[1].className}}</a>
        <a ui-sref="destinyPlayer({platform: platform, displayName: displayName, characterNumber: 3})">{{characterData.charactersOverview[2].level}} {{characterData.charactersOverview[2].className}}</a>-->
    <!-- End Sidebar -->
    <!-- Main Content -->
    <!--<div class="row">
        <span class="col-md-4 col-md-offset-4" style="font-size: 200%; color: red; font-family: Comic Sans MS">{{errorMessage}}</span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="http://www.bungie.net/{{playerSearchData.iconPath}}" />
        </div>
        <div class="col-md-4">
            <label>Display Name: </label> {{playerSearchData.displayName}}
        </div>
        <div class="col-md-4">
            <label>Membership Id: </label> {{playerSearchData.membershipId}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <h3>
                {{characterData.level}}
                {{characterData.raceName}}
                {{characterData.className}}
            </h3>
        </div>
    </div>-->
    <div class="row">
        <div id="equipment" class="col-sm-4 col-md-4" style="border-style: solid">
            <h4>{{characterData.charactersOverview[0]}}</h4>
            <table>
                <tr ng-repeat="item in characterData.equipmentData[0]">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="/api/destinyApi/GetImage?iconLocation={{item.icon}}" />{{item.itemName}}</a></td>
                    <td>{{item.details.primaryStat.value}}</td>
                </tr>
            </table>
        </div>
        <div id="equipment" class="col-sm-4 col-md-4" style="border-style: solid">
            <h4>{{characterData.charactersOverview[1]}}</h4>
            <table>
                <tr ng-repeat="item in characterData.equipmentData[1]">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="/api/destinyApi/GetImage?iconLocation={{item.icon}}" />{{item.itemName}}</a></td>
                    <td>{{item.details.primaryStat.value}}</td>
                </tr>
            </table>
        </div>
        <div id="equipment" class="col-sm-4 col-md-4" style="border-style: solid">
            <h4>{{characterData.charactersOverview[2]}}</h4>
            <table>
                <tr ng-repeat="item in characterData.equipmentData[2]">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="/api/destinyApi/GetImage?iconLocation={{item.icon}}" />{{item.itemName}}</a></td>
                    <td>{{item.details.primaryStat.value}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <h4>Year 1 Triumphs</h4>
        <table>
            <tr>
                <th>Title</th>
                <th>Complete</th>
            </tr>
            <tr ng-repeat="triumph in triumphs | limitTo: 7 | limitTo: -3">
                <td>{{triumph.title}}</td>
                <td>{{triumph.complete}}</td>
            </tr>
            <tr>
                <td>{{triumphs[9].title}}</td>
                <td>{{triumphs[9].complete}}</td>
            </tr>
        </table>
    </div>
</div>
