<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4 destiny-mainDiv">
            <h2>Search</h2>
            <form role="form">
                <div class="form-group">
                    <label style="display: block">Platform</label>
                    <label class="radio-inline"><input type="radio" ng-model="platform" value=1>Xbox</label>
                    <label class="radio-inline"><input type="radio" ng-model="platform" value=2>PlayStation</label>
                </div>
                <div class="form-group">
                    <label style="display: block">Character Number</label>
                    <label class="radio-inline"><input type="radio" ng-model="characterNumber" value=1>1</label>
                    <label class="radio-inline"><input type="radio" ng-model="characterNumber" value=2>2</label>
                    <label class="radio-inline"><input type="radio" ng-model="characterNumber" value=3>3</label>
                </div>
                <div class="form-group">
                    <label for="displayName">Username:</label>
                    <input type="text" ng-model="displayName" class="form-control" id="displayName">
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" ng-click="VM.searchPlayer(1, displayName)" class="form-control" id="submit" >
                </div>
            </form>
            <p>{{message}}</p>
        </div>
    </div>
</div>
