<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="destiny-details-search-li">
                <form role="form">
                    <input class="form-control destiny-details-search" type="text" ng-model="searchText" placeholder="Search Player">
                    <input class="destiny-details-submit" ng-click="VM.test(searchText)" type="submit" value="Search" />
                </form>
            </li>
            <li ng-class="{active: VM.isCharacterActive(0)}">
                <a ui-sref="destinyPlayer({platform: platform, displayName: displayName, characterNumber: 1})">{{characterData.charactersOverview[0].level}} {{characterData.charactersOverview[0].className}}</a>
            </li>
            <li ng-class="{active: VM.isCharacterActive(1)}">
                <a ui-sref="destinyPlayer({platform: platform, displayName: displayName, characterNumber: 2})">{{characterData.charactersOverview[1].level}} {{characterData.charactersOverview[1].className}}</a>
            </li>
            <li ng-class="{active: VM.isCharacterActive(2)}">
                <a ui-sref="destinyPlayer({platform: platform, displayName: displayName, characterNumber: 3})">{{characterData.charactersOverview[2].level}} {{characterData.charactersOverview[2].className}}</a>
            </li>
        </ul>
    </div>
    <!-- End Sidebar -->
    <!-- Main Content -->
    <div class="sidebar-row">
        <span class="col-md-4 col-md-offset-4 col-md-offset-4" style="font-size: 200%; color: red; font-family: Comic Sans MS">{{errorMessage}}</span>
    </div>
    <div class="sidebar-row">
        <div class="col-md-4">
            <img src="http://www.bungie.net/{{playerSearchData.iconPath}}" />
        </div>
        <div class="col-md-4">
            <label>Display Name: </label> {{playerSearchData.displayName}}
        </div>
        <div class="col-md-4">
            <label>Membership Id: </label> {{playerSearchData.membershipId}}
        </div>
    </div>
    <div class="sidebar-row">
        <div class="col-md-4">
            <label style="display: block">Level:</label> {{characterData.level}}
            <label style="display: block">Race:</label> {{characterData.raceName}}
            <label style="display: block">Class:</label> {{characterData.className}}
        </div>
        <div class="col-md-4">
            <h4>Gear Hashes</h4>
            <table>
                <tr ng-repeat="item in characterData.equipmentData">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}">{{item.itemName}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        {{message}}
    </div>
</div>
