<!-- new -->

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header" style="padding-left:15px">
        <button type="button" class="pull-left navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Destiny</a>
    </div>
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
        <ul class="nav navbar-nav">
            <li class="destiny-details-search-li">
                <form class="form-group input-group">
                    <input type="text" class="form-control" ng-model="searchValue" placeholder="Search Player">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" ng-click="vm.searchPlayer(searchValue)">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row" id="errorMessage" ng-show="pageIsErrored">
        <span class="col-md-12">Error: {{errorMessage}}</span>
    </div>
</div>
<div class="container" ng-show="showPageContent" style="border-style: das">
    <!-- Main Content -->
    <div class="row">
        <div class="col-md-4">
            <img ng-src="https://www.bungie.net/{{accountDetails.platformIcon}}" alt="platform" />
        </div>
        <div class="col-md-4" style="font-size: 200%">
            {{accountDetails.displayName}}
        </div>
        <div class="col-md-4">
            <label>Membership Id: </label> {{accountDetails.membershipId}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4" style="border-style: none">
            <h4 class="light-icon">{{characterData[0].charactersOverview}}</h4>
            <table class="table equipment">
                <tr ng-repeat="item in characterData[0].equipmentData" ng-click="" ng-mouseover="vm.mouseOverRow(item)">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="https://www.bungie.net{{item.icon}}" alt="" /></a>{{item.itemName | itemNameFilter}}</td>
                    <td>{{item.details.primaryStat}}</td>
                    <td ng-bind-html="item.details.damageType | damageTypeFilter"></td>
                    <td class="testingPopup" ng-show="showDetails">
                        <div>{{$index}}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4 col-md-4" style="border-style: none">
            <h4 class="light-icon">{{characterData[1].charactersOverview}}</h4>
            <table class="table equipment">
                <tr ng-repeat="item in characterData[1].equipmentData" ng-click="" ng-mouseover="vm.mouseOverRow(item)">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="https://www.bungie.net{{item.icon}}" alt="" /></a>{{item.itemName | itemNameFilter}}</td>
                    <td>{{item.details.primaryStat}}</td>
                    <td ng-bind-html="item.details.damageType | damageTypeFilter"></td>
                    <td class="testingPopup" ng-show="showDetails">
                        <div>{{$index}}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4 col-md-4" style="border-style: none">
            <h4 class="light-icon">{{characterData[2].charactersOverview}}</h4>
            <table class="table equipment">
                <tr ng-repeat="item in characterData[2].equipmentData" ng-click="" ng-mouseover="vm.mouseOverRow(item)">
                    <td><a href="http://destinydb.com/items/{{item.itemHash}}" target="_blank"><img ng-src="https://www.bungie.net{{item.icon}}" alt="" /></a>{{item.itemName | itemNameFilter}}</td>
                    <td>{{item.details.primaryStat}}</td>
                    <td ng-bind-html="item.details.damageType | damageTypeFilter"></td>
                    <td class="testingPopup" ng-show="showDetails">
                        <div>{{$index}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row gearscore">
        <div class="col-md-6 triumphs">
            <h4>Achievements</h4>
            <table class="table">
                <tr ng-repeat="achievement in vm.achievements">
                    <td ng-bind-html="achievement.id | achievementNameFilter"></td>
                    <td ng-bind-html="achievement.acquired | booleanFilter"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 weapon-check">
            <h4 style="text-align: center">Weapon Check</h4>
            <div ng-repeat="weapon in weaponScore" popover="{{weapon.value}}" popover-trigger="mouseenter">
                <img ng-src="https://www.bungie.net{{weapon.icon}}" />
            </div>
        </div>
    </div>
</div>
