/*#region Destiny*/
.destiny-mainDiv {
    border: dashed;
    word-wrap: break-word;
}

.destiny-details-search-li{
    width: 200px;
    padding-bottom: 20px;
}

.destiny-details-submit{
    position:absolute;
    visibility:hidden;
}

.destiny-details-search{
}

#equipment img {
    width: 35px;
}



/*#endregion*/
