/*#region Destiny*/

body {
    background-color: #445c60;
    color: white;
}

.destiny-mainDiv {
    border: dashed;
    word-wrap: break-word;
}

#errorMessage {
    background-color: grey;
    color: Black;
    font-size: 200%;
    color: white;
    font-family: Comic Sans MS;
    text-align: center;
}

.destiny-details-search-li {
    width: 200px;
    position: relative;
    padding-top: 8px;
    max-height: 50px;
}

.destiny-details-submit {
    position: absolute;
    visibility: hidden;
}

.equipment {
    background-color: #556B6F;
}

    .equipment table tr td {
        padding-right: 0;
    }

    .equipment tr:hover {
        background-color: #445c60;
        /*cursor: pointer;*/
    }

    .equipment img {
        width: 45px;
    }

    .equipment .damageTypeIcon {
        width: 35px;
    }

#page-wrapper {
    padding-top: 70px;
}

    #page-wrapper a {
        text-decoration: none;
        color: white;
    }

        #page-wrapper a:hover {
            /*opacity: .5;*/
        }

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 985px;
    position: relative;
}

.testingPopup {
    position: absolute;
    /*visibility: hidden;*/
}

.popover {
    background-color: black;
    /*width: 300px;
    height: 350px;*/
}

    .popover .arrow {
        visibility: hidden;
    }

.testingPopup.visible {
}

/*.equipment:hover .testingPopup {
    visibility:visible;
}*/

.triumphs img {
    width: 25px;
}

.triumphs table {
    margin-left: auto;
    margin-right: auto;
}

.triumphs h4 {
    text-align: center;
}

.weapon-check {
    text-align: center;
}

    .weapon-check div {
        display: inline-block;
        padding: 5px;
    }

    .weapon-check img {
        width: 75px;
    }

/*#endregion*/

/*#region Pokemon*/
.container-pokemon {
    padding: 15px 15px 15px 15px;
    margin-right: auto;
    margin-left: auto;
}

.keybinds {
    font-size: 200%;
    font-family: "consolas";
}

.pokeData-mainContainer {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.form-control {
    width: auto;
}
/*#endregion Pokemon*/
